ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #757575;
  background-color: white;
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding: 0 15px;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .filter-button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter-button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .filter-button-list > .list-item:first-child, .filter-button-list > .list-item:nth-child(2), .filter-button-list > .list-item:nth-child(3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-button-list > .list-item:first-child, .filter-button-list > .list-item:nth-child(2), .filter-button-list > .list-item:nth-child(3) {
    margin-bottom: 0;
  }
}

.filter-button-list > .list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  background-color: #F5F4FA;
  padding: 6px 22px;
  height: 38px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  border: #F5F4FA;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, transform, color, box-shadow;
  transition-property: background-color, transform, color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.filter-button:hover, .filter-button:focus {
  background-color: #188CE8;
  color: white;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

@media screen and (min-width: 768px) {
  .filter-cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.filter-item {
  list-style: none;
  padding: 0;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .filter-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .filter-item {
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .filter-item {
    width: 370px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 480px) {
  .filter-item:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .filter-item:first-child {
    margin-top: 30px;
  }
}

.filter-link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: currentColor;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.filter-link:hover, .filter-link:focus {
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-link:hover .filter-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter-link:focus .filter-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter-image {
  position: relative;
  overflow: hidden;
}

.filter-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  padding: 63px 24px;
}

.filter-overlay-text {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

@media screen and (min-width: 768px) {
  .card-info {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .card-info {
    height: 110px;
  }
}

.card-heading {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer-content {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .footer-inner-content {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-inner-content {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.address {
  margin-top: 20px;
}

.address-list {
  font-style: normal;
}

.address-item {
  list-style: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.location-link {
  background-color: #2F303A;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.location-link:hover {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.location-link:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  outline: none;
}

.mail-link-address {
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.mail-link-address:hover {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.mail-link-address:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  outline: none;
}

.call-link-address {
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.call-link-address:hover {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.call-link-address:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    text-align: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 93px;
    text-align: left;
  }
}

.footer-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.footer-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.footer-socials-link:hover {
  background-color: #2196F3;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footer-socials-link:focus {
  background-color: #2196F3;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  outline: none;
}

.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-subscribe {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer-form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-label {
    margin-right: 12px;
  }
}

.footer-subscribe-form {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .footer-subscribe-form {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-form {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-subscribe-form::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}

.footer-subscribe-form:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
}

.footer-subscribe-form::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
}

.footer-subscribe-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}

.footer-subscribe-form:not(:placeholder-shown) {
  border-color: #2196F3;
}

.footer-subscribe-form:placeholder-shown {
  border-color: rgba(255, 255, 255, 0.3);
}

.footer-subscribe-form:hover {
  border-color: #2196F3;
}

.footer-subscribe-form:focus {
  border-color: #2196F3;
  outline: none;
}

.footer-subscribe-button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2196F3;
  padding: 10px 29px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: #F5F4FA;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, transform, color;
  transition-property: background-color, transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media screen and (min-width: 480px) {
  .footer-subscribe-button {
    margin: 0 auto;
  }
}

.footer-subscribe-button:hover {
  background-color: #188CE8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-subscribe-button:focus {
  background-color: #188CE8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  outline: none;
}

.footer-subscribe-img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-list > .list-item {
  margin-right: 50px;
}

.links-list > .list-item:last-child {
  margin-right: 0;
}

.list-item {
  list-style: none;
  padding: 0;
}

.link.current {
  color: #2196F3;
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
}

.link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.link:hover {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.link:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .contacts-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-links > .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .contacts-links > .list-item {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-links > .list-item {
    margin-right: 30px;
  }
}

.contacts-links > .list-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.mail-icon {
  height: 10px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .mail-icon {
    width: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-icon {
    width: 16px;
  }
}

.mail-link {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media screen and (min-width: 768px) {
  .mail-link {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-link {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.mail-link:hover, .mail-link:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.telephone-icon {
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .telephone-icon {
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .telephone-icon {
    height: 16px;
  }
}

.call-link {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media screen and (min-width: 768px) {
  .call-link {
    font-size: 12px;
  }
}

.call-link:hover, .call-link:focus {
  color: #2196F3;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.logo-link {
  color: #000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.logo-link:hover, .logo-link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo-web {
  color: #2196F3;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link__footer {
  color: white;
}

@media screen and (min-width: 480px) {
  .logo-link__footer {
    margin: 0 auto;
  }
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  -webkit-transition-property: scale, opacity;
  transition-property: scale, opacity;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: fixed;
  top: auto;
  left: auto;
  width: 528px;
  height: 581px;
  background-color: white;
  border-radius: 4px;
}

.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.modal-close-button:hover {
  color: #2196F3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.modal-close-button:focus {
  color: #2196F3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-close-icon:hover, .modal-close-icon:focus {
  fill: currentColor;
}

.modal-form-title {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-element {
  display: block;
  color: #000;
  margin-bottom: 10px;
}

.form-element:hover {
  color: #2196F3;
}

.form-element:focus-within {
  color: #2196F3;
  outline: none;
}

.label-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.form-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  position: absolute;
}

.form-icon.name {
  top: 104px;
  left: 53px;
}

.form-icon.phone {
  top: 172px;
  left: 53px;
}

.form-icon.email {
  top: 240px;
  left: 53px;
}

.form-area {
  width: 448px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #757575;
}

.form-area:hover {
  border-color: #2196F3;
}

.form-area:focus-within {
  border-color: #2196F3;
  outline: none;
}

.comment-label {
  display: block;
  margin-bottom: 20px;
}

.comment-area {
  position: relative;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  color: #757575;
}

.comment-area:placeholder-shown {
  border-color: rgba(33, 33, 33, 0.2);
}

.comment-area:not(:placeholder-shown), .comment-area:focus-within {
  border-color: #2196F3;
  outline: none;
}

.comment-area:hover {
  border-color: #2196F3;
}

.comment-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12px;
  left: 16px;
}

.comment-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12px;
  left: 16px;
}

.comment-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12px;
  left: 16px;
}

.comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12px;
  left: 16px;
}

.checkbox-label {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
}

.checkbox-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox:checked + .checkbox-custom {
  background-image: url(/images/Vector7.svg);
  background-repeat: no-repeat;
  background-color: #2196F3;
  border-color: #2196F3;
  background-size: 13px 10px;
  background-position: center;
}

.checkbox-icon {
  width: 11px;
  height: 8px;
}

.rules-link {
  color: #2196F3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.form-button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2196F3;
  border-radius: 4px;
  border: #2196F3;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 55px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.form-button:hover, .form-button:focus {
  background-color: #188CE8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form-button:active {
  background-color: #2196F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list > .list-item {
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages-list > .list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list > .list-item {
    width: 270px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-top: 0;
  }
}

.advantages-list > .list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-heading {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 270px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages-heading {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.advantages-text {
  font-size: 14px;
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 450px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .advantages-text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-text {
    width: 270px;
  }
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .our-clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients-list {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) {
  .our-clients-item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-item {
    width: 170px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.clients-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: none;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, transform, color;
  transition-property: background-color, transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.clients-thumb:hover, .clients-thumb:focus {
  border-color: #2196F3;
  color: #2196F3;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.our-clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.our-clients-icon:hover, .our-clients-icon:focus {
  fill: currentColor;
}

.competentions {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .competentions {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.second-range-heading {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .second-range-heading {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .second-range-heading {
    margin-bottom: 50px;
  }
}

.images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images-list > .list-item:not(:last-child) {
  margin-right: 30px;
}

.images-card {
  position: relative;
}

.images-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.images-overlay-heading {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #F5F4FA;
}

.our-team-list > .list-item {
  background-color: white;
  width: 450px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .our-team-list > .list-item {
    width: 450px;
    height: 622px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list > .list-item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list > .list-item {
    width: 270px;
    height: 428px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .our-team-list > .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list > .list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-info {
    padding-bottom: 30px;
  }
}

.our-team-list-heading {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-list-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-socials-item {
  width: 44px;
  height: 44px;
}

.team-socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-socials-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, transform, color;
  transition-property: background-color, transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.team-socials-link:hover {
  background-color: #2196F3;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: white;
  fill: currentColor;
}

.team-socials-link:focus {
  background-color: #2196F3;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: white;
  fill: currentColor;
  outline: none;
}

.team-socials {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-socials:hover, .team-socials:focus {
  fill: currentColor;
}

.main {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/bckgrnd.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bckgrnd.jpg);
  width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

@media screen and (min-width: 768px) {
  .main {
    width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 1600px;
    height: 600px;
  }
}

.main-heading {
  color: white;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .main-heading {
    font-size: 44px;
    width: 696px;
  }
}

.main-heading-button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2196F3;
  border-radius: 4px;
  border: #2196F3;
  cursor: pointer;
  margin: 30px auto 0;
  padding: 10px 32px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.main-heading-button:hover {
  background-color: #188CE8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-heading-button:focus {
  background-color: #188CE8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  outline: none;
}

.main-heading-button:active {
  background-color: #2196F3;
}
/*# sourceMappingURL=main.css.map */