.filter-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &>.list-item:not(:last-child){
        margin-right: 8px;
    }
}

.filter-button {
    background-color: getColor('inactive-button-color');
    padding: 6px 22px;
    height: 38px;
    color: getColor('headings-color');
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    border: getColor('inactive-button-color');
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition-property: background-color, transform, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover, &:focus{
        background-color: getColor('button-hover-color');
        color: getColor('white-color');
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
                    0 1px 2px rgba(0, 0, 0, 0.08),
                    0 2px 2px rgba(0, 0, 0, 0.12);
        transform: translateY(-10%);
    }
}

.filter-cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.filter-item {
    list-style: none;
    padding: 0;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    color: getColor('paragraph-color');
}

.filter-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: currentColor;
    transition-property: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover, &:focus{
        transform: translateY(-2%);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                    0 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .filter-overlay{
        transform: translateY(0);
    }
    &:focus .filter-overlay {
        transform: translateY(0);
    }
}

.filter-image {
    position: relative;
    overflow: hidden;
}

.filter-overlay {
    background-color: getColor('overlay-filter-color');
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms;
    padding: 63px 24px;
    &-text{
        color: getColor('white-color');
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
    }
}

.card-info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid getColor('card-border-color');
    border-left: 1px solid getColor('card-border-color');
    border-right: 1px solid getColor('card-border-color');
}

.card-heading {
    color: getColor('headings-color');
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}